div['data-testid="mobile-nav-logged-in"'] > div:nth-child(2) {
  display: none !important;
}

a[href="/explore"], section > main[role="main"], div[data-testid="placementTracking"], div[data-testid="new-post-button"]  {
  display: none !important;
}

header {
  position: relative !important;
  overflow:hidden";
}

header[role="banner"] > div {
 display: none !important;
}
 
 header[role="banner"] > div {
 position: relative !important;
}
