// Twitter

a[href="/explore"] {
  display: none !important;
}

div[data-testid="placementTracking"]{ 
  display: none !important 
}

// Instagram

div[data-testid="new-post-button"] {
  display: none !important;
}
