a[href="/explore"], a[href="/explore/"], div[data-testid="placementTracking"], div[data-testid="new-post-button"]  {
  display: none !important;
}


div['data-testid="mobile-nav-logged-in"'] > div:nth-child(2) {
  display: none !important;
}
